### Amazon AWS Account Parametrs
# For more information refere to https://github.com/pintostack/core

source conf/source.global

# All variables add below

RESOURCE_PROVIDER='aws'
VPC_IF='eth0'
SSH_KEY_FILE=/home/yvlasov/Downloads/pinto.pem

AWS_KEY_ID='IDoFsUPERsecRETkeY'
AWS_ACCESS_KEY='SuperSecRETkeYHERE'
AWS_KEYPAIR_NAME='pinto'
AWS_AMI='ami-fce3c696'
AWS_INSTANCE_TYPE='t2.micro'
AWS_ROOT_PARTITION_SIZE=10
AWS_REGION='us-east-1'
AWS_TERMINATE_ON_SHUTDOWN='true'
AWS_SECURITY_GROUPS="default"
AWS_SSH_USERNAME='ubuntu'

